.nav-bar{
    background-color: #02007A;
    height: 140px;
    width: 100%;  
}
.nav-head{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 20px;
}
.nav-item{
    color: #ffffff;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.nav-item:hover{
    font-size: 25px;
    font-weight: 500;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.nav-item-one{
    font-family: "Red Hat Text";
    cursor: pointer;
    list-style: none;
    font-size: 45px;
    margin: 13px auto 0px 30px;
    border-bottom: 3px solid transparent;
}

.nav-item-active{
    color: #ffffff;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    list-style-position:inside;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px 0px 0px 40px;
}

.add-bar{
    display: flex;
    flex-direction: row;
    background-color:#eeeeee;
    color: #000000;
    width: 1550px;
    height: 75px;
    text-align: center;  
    margin-top: 30px; 
}

.head-name{
    margin: 7px 0px 0px 20px;
    font-size: 20px;
    font-weight: 600;
}

.add-icon{
    position: absolute;
    top: 31%;
    left: 91%;
}

table{
    width: 100%;
    margin: 0px 0px 0px 0px;
    border-top-style: none
}
.head-cell{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 40px 94px 20px 51px;
    //border-bottom: 1px solid #d4d4d4;
}
.head-cell-active{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 0px 90px 0px 60px;
    //border-bottom: 1px solid #d4d4d4;
}
.last-head-cell{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    //padding: 8px;
    padding: 0px 100px 0px 40px;
    //border-bottom: 1px solid #d4d4d4;
}

.cell{
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    padding: 0px 50px 0px 70px;
    //border-bottom: 1px solid #E5E4E4;

}
.cell-active{
    font-size: 18px;
    text-align: center;
    padding: 10px 40px 80px 30px;
    //border-bottom: 1px solid #E5E4E4;
}
.last-cell{
    text-align: center;
    padding: 10px 40px 20px 0px;
    //border-bottom: 1px solid #E5E4E4;
}

.body-container{
    display: flex;
}
//Room Type stayles

.room-type-main{
    list-style: none;
    height: 450px;
    width: 100%;
    top:0;
    left: 0;
}

.flex-child{
    flex: 1;
    border:1px solid #adadad;
    margin-top: 20px;
    border-radius: 10px;
}

.flex-child:first-child {
    margin-right: 20px;
} 
.actice-box{
    height: 20px;
    width: 20px;
    // color: #02007A ;
    // outline:2px solid #02007A;
    border-color: #02007A;
    color: #02007A;
    background: linear-gradient(to top, #02007A 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#confirm-text{
    
    display: inline-block;
}
#confirm-button{
    float: right;
    margin: 20px;
}

#modal-add-buttons{
    left: 100px;
}

#modal-add-buttons:hover{
    background-color: #02007A;
}

#save-button{
    background-color: #fff;
    color: #000000;
    outline: #fff;
}

#save-button:hover{
    background-color: #02007A;
    color: #fff;
    outline: #02007A;
}
.data{
    margin: 20px;
}
#active-box{
    width: 24px;
    height: 24px;
}

.form-content{
    display:block;
    clear:both;
    text-align: center;
}
.form-group{
    padding: 30px 40px 10px 40px;
}

// Room Types side styles

.room-type-main{
    width: 300px;

}
.manage-type{
    border:1px #a0a0a0a6 solid;
    width: 208px;
    height: 35px;
    margin-top: 60px;
    background-color: #fff;
}
.manage-type:hover{
    width: 208px;
    height: 35px;
    margin-top: 60px;
    background-color: #02007a2f;
    border:1px transparent solid;

}
.manage-type:focus{
    border:1px #a0a0a0a6 solid;
    width: 208px;
    height: 35px;
    margin-top: 60px;
    background-color: #02007a2f;
}
.room-detail{
    font-size: 22px;
    margin: 23px 0 0 25px;
    font-weight: 600;
}
.delete-body{
    padding-left: 200px;
    font-size: 23px;
}
#confirm-text{
    display: inline-block;
}
.pagination-box{
    position: fixed;
    top: 850px;
    left: 1300px;
}

.edit-header{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: bold;
}
