<div>
    <div class="nav-bar">
        <ul class="nav-head">
            <li class="nav-item-one">PRISM </li>
            <li class="nav-item"><a class="nav-link" routerLink="/reservation" >Reserve <br> List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/guest">Guest <br> List</a></li>
            <li class="nav-item-active"><a class="nav-link" routerLink="/room">&nbsp;&nbsp;&nbsp;Manage <br> &nbsp;&nbsp;&nbsp;Room</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="add-bar">
            <div class="head-name">Manage <br> Room</div>      
        </div>
        <div class="body-container">
            <div class="flex-child" id="flexOne" >
                <div class="room-detail">Room Types</div>
                <ul class="room-type-main">
                    <li id="Standard"><button class="manage-type" (click)="openStandard()">Standard</button></li>
                    <li id="Premium"><button class="manage-type" (click)="openPremium()">Premium</button></li>
                    <li id="Delux"><button class="manage-type" (click)="openDelux()">Delux</button></li>
                    <li id="Executive"><button class="manage-type" (click)="openExecutive()">Executive</button></li>
                </ul>
            </div>
            <div class="flex-child" id="table-box">
                <div class="room-detail">Room Details
                    <div  class="add-icon" data-toggle="modal" data-target="#exampleModalCenter">
                        <button type="button" class="close" aria-label="Close" (click)="open(content)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
                    </div>  
                </div>
                <table class="table">
                    <thead>
                        <tr>
                        <th class="head-cell">
                            Room&nbsp;No
                        </th>
                        <th class="head-cell">
                            Code
                        </th>
                        <th class="head-cell">
                            Price
                        </th>
                        <th class="head-cell">
                            Status
                        </th>
                        <th class="head-cell">
                            Active
                        </th>
                        <th class="head-cell">
                            Action
                        </th>
                     </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of roomList">
                        <td class="cell">
                            {{data.RoomNo}}
                        </td>
                        <td class="cell">
                            {{data.RoomTypeId}}
                        </td>
                        <td class="cell">
                            {{data.Price}}
                        </td>
                        <td class="cell">
                            {{data.RoomStatus}}
                        </td> 
                        <td class="cell">
                            <input type="checkbox" class="actice-box" [(ngModel)]="data.IsActive" >
                        </td>
                        <td class="last-cell" style="font-size: 34px;">
                            <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true" (click)="openEdit(contentEdit, data)">&nbsp;</i>
                            <i class="fa fa-trash fa-fw" aria-hidden="true" (click)="openDelete(contentDelete , data.id)"></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <pagination-controls (pageChange)="page = $event"  class="pagination-box"></pagination-controls>
        </div>
    </div>
</div> 

<!-- Delete pop-up dialog box Starting -->

<ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="delete-body">
            <div id="confirm-text" class="fa fa-trash fa-3x" aria-hidden="true"></div> &nbsp;&nbsp;
            <div id="confirm-text">Are you sure you want to delete<br/> this Room Details?</div>
        </div>
    </div>
    <div> 
        <button id="confirm-button" data-dismiss="modal" class="btn btn-danger" (click)="onDelete(deleteID)">Delete</button> &nbsp;
        <button id="confirm-button" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

  <!-- Delete pop-up dialog box Ending -->

  <!-- New guest adding modal Starting -->

<ng-template #content let-modal>
    <div class="modal-header" >
      <h4 class="modal-title" id="modal-basic-title">Add a new Guest</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <!-- New guest adding form -->
    <form #f="ngForm"  [formGroup]="userForm" novalidate>
    <div class="form-group">
      <div class="form-content">
          <input id="RoomNo" class="data" placeholder="Room No" formControlName="RoomNo" required>
          <input id="type" class="data" placeholder="Room Type Id" formControlName="RoomTypeId" required>
          <input type="price" id="email" class="data" placeholder="Price" formControlName="Price" required>
          <input id="status" class="data" placeholder="Room Status" formControlName="RoomStatus" ><br>
          <label class="active" >Active<input type="checkbox" id="active-box" class="form-control" formControlName="IsActive" ></label>
      </div>
    </div>
    <div class="btn-add">
      <button type="submit" id="modal-add-buttons" class="btn btn-outline-dark" (click)="addItems()">Add</button>&nbsp;
      <button type="button" id="modal-add-buttons" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
    </div>
    </form>
    </div>
  </ng-template>

  <!-- New Room adding modal form Ending -->

  <!-- Room Update Data form Modal Starting -->

<ng-template #contentEdit let-modal>
    <form [formGroup]="editForm" novalidate>
        <div class="edit-header"> Edit Room Details </div>
      <div class="form-group">
        <label for="PhoneNo">Price</label>
        <div class="input-group">
          <input formControlName="Price" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="Email">Room Status</label>
        <div class="input-group">
          <input formControlName="RoomStatus" class="form-control">
        </div>
      </div>
      <div class="form-group">
          <label for="IsActive">Active&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <input type="checkbox" id="activeBox" formControlName="IsActive" >
      </div>
      <div class="modal-footer">
      <div class="border text-center"> <button id="save-button" data-dismiss="modal" class="btn btn-info" (click)="saveEdit(editID)">Save</button> </div>
        <button type="button" id="save-button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
    </ng-template>
    
    <!-- Room Update Data form Modal Ending -->