.wrapper{
    display: flex;
    gap: 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
}
.heading{
    text-align: center;  
    padding-bottom: 30px; 
    font-size: 45px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.login-contect{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.form{
    border: 1px solid #000000;
    padding: 70px 40px 40px 40px;
}
input{
    
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 50px;
}
#email, #password{
    width: 100%;
    padding: 30px;
    width: 494.67px;
    height: 90.68px;
    font-size: 28px;
}
#submit{
    width: 494.67px;
    height: 90.68px;
    background-color: #02007A;
    color: #ffffff;
    font-size: 32px;
    font-weight: medium;
}
.rights{
    font-size: 24px;
    text-align: center;
    padding: 0px 0 0px 0;

}

.icon{
    position: absolute;
    left: 645px;
    top: 483px;
}

br{
    content: "";
    margin: 15px;
    display: block;
}

.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
li{
    position: absolute;
    top: 35%;
    right: 60%;
    color: red;
    display: none;
}