<!-- Login Page Starting -->

<div class="login-page">
    <div class="wrapper" fxLayoutGap="70px" >

        <!-- Login credential form -->

        <div class="login-contect">
            <h1 class="heading">WELCOME TO <br>PRISM </h1>
            <form class="form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
                <input type="email" id="email" formControlName="email" name="email" placeholder="Email" required><br>
                <li class="fa fa-times times fa-2x"></li>
                <input type="password" id="password" formControlName="password" name="password" placeholder="Password"required>
                <span class="icon"><i class="fa fa-eye-slash fa-2x" aria-hidden="true"></i></span><br> 
                <input type="submit" id="submit" value="Login"/><br>
                <p class="rights">
                    <i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;
                    All rights reserved to Prism Hotels
                </p>

            </form>
        </div>

        <!-- Login page image -->

        <div fxLayoutAlign="center center" class="image">
            <div ><img src="./assets/image.png"></div>
        </div>
    </div>
</div>

<!-- Login Page Ending -->