<!-- Guest List page starting -->
<div>
    <!-- Navigation bar -->
  <div class="nav-bar">
    <ul class="nav-head">
      <li class="nav-item-one">PRISM </li>
      <li class="nav-item"><a class="nav-link" routerLink="/reservation" >Reserve <br> List</a></li>
      <li class="nav-item-active"><a class="nav-link" routerLink="/guest">&nbsp;&nbsp;&nbsp;Guest <br>&nbsp;&nbsp;&nbsp; List</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/room">Manage <br> Room</a></li>
    </ul>
  </div>
  <div class="container"> 
    <div class="add-bar">
      <div class="head-name">Guest <br> List</div>
      <div class="add-icon" data-toggle="modal" data-target="#exampleModalCenter">
        <button type="button" class="close" aria-label="Close" (click)="open(content)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
      </div>  
    </div>

    <table class="table">

      <!-- Guest data table - table head-->
        <thead>
            <tr>
            <th class="head-cell">
                No
            </th>
            <th class="head-cell">
                Name
            </th>
            <th class="head-cell">
                Mobile
            </th>
            <th class="head-cell">
                Email
            </th>
            <th class="head-cell">
                NIC
            </th>
            <th class="head-cell">
                DOB
            </th>
            <th class="head-cell-active">
                Active
            </th>
            <th class="last-head-cell">
                Action
            </th>
         </tr>
        </thead>

        <!-- Guest data table - teable body-->
        <tbody>
            <tr *ngFor="let data of guestList | paginate : {itemsPerPage:4, currentPage: page, totalItems: pageLength}">
            <td class="cell">
                {{data.GuestId}}
            </td>
            <td class="cell">
                {{data.Name}}
            </td>
            <td class="cell">
                {{data.PhoneNo}}
            </td>
            <td class="cell">
                {{data.Email}}
            </td>
            <td class="cell">
                {{data.IdNo}}
            </td> 
            <td class="cell">
                {{data.DateOfBirth}}
            </td> 
            <td class="cell-active">
                <input type="checkbox" class="actice-box" [(ngModel)]="data.IsActive" >
            </td>

            <!-- Guest data table - teable body - Action buttons (Edit and delete)-->
            <td class="last-cell" style="font-size: 34px;">
                <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true" (click)="openEdit(contentEdit, data)">&nbsp;</i>
                <i class="fa fa-trash fa-fw" aria-hidden="true" (click)="openDelete(contentDelete , data.GuestId)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div>
      <pagination-controls (pageChange)="page = $event" class="pagination-box"></pagination-controls>
    </div>
  </div>

</div>

<!-- New guest adding modal Starting -->

<ng-template #content let-modal>
  <div class="modal-header" >
    <h4 class="modal-title" id="modal-basic-title">Add a new Guest</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <!-- New guest adding form -->
  <form #f="ngForm"  [formGroup]="userForm" novalidate>
  <div class="form-group">
    <div class="form-content">
        <input id="Id" class="data" placeholder="Guest Id*" formControlName="GuestId" required>
        <input id="name" class="data" placeholder="Name*" formControlName="Name" required>
        <input id="mob" class="data" placeholder="Mobile*" formControlName="PhoneNo" required>
        <input type="email" id="email" class="data" placeholder="Email*" formControlName="Email" required>
        <input id="nic" class="data" placeholder="NIC" formControlName="IdNo" >
        <input type="date" value="2021-07-28" class="data" formControlName="DateOfBirth"><br>
        <label for="IsActive" class="data">Active</label>
        <input type="checkbox" id="activeBox" class="data" formControlName="IsActive" >
    </div>
  </div>
  <div class="btn-add">
    <button type="submit" id="modal-add-buttons" class="btn btn-outline-dark" (click)="addItems()">Add</button>&nbsp;
    <button type="button" id="modal-add-buttons" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
  </div>
  </form>
  </div>
</ng-template>

<!-- New guest adding modal form Ending -->

<!-- Delete pop-up dialog box Starting -->

<ng-template #contentDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm Delete</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
      <div class="delete-body">
          <div id="confirm-text" class="fa fa-trash fa-3x" aria-hidden="true"></div> &nbsp;&nbsp;
          <div id="confirm-text">Are you sure you want to delete<br/> this guest data?</div>
      </div>
  </div>
  <div> 
      <button id="confirm-button" data-dismiss="modal" class="btn btn-danger" (click)="onDelete(deleteID)">Delete</button> &nbsp;
      <button id="confirm-button" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<!-- Delete pop-up dialog box Ending -->

<!-- Guest Update Data form Modal Starting -->

<ng-template #contentEdit let-modal>
<form [formGroup]="editForm" novalidate>
    <div class="edit-header"> Edit Guest Details </div>
  <div class="form-group">
    <label for="Name">Name</label>
    <div class="input-group">
      <input formControlName="Name" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="PhoneNo">Mobile Number</label>
    <div class="input-group">
      <input formControlName="PhoneNo" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="Email">Email</label>
    <div class="input-group">
      <input formControlName="Email" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="IdNo">NIC</label>
    <div class="input-group">
      <input formControlName="IdNo" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="DateOfBirth">Date Of Birth</label>
    <div class="input-group">
      <input formControlName="DateOfBirth" class="form-control">
    </div>
  </div>
  <div class="form-group">
      <label for="IsActive">Active&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="checkbox" id="activeBox" formControlName="IsActive" >
  </div>
  <div class="modal-footer">
  <div class="border text-center"> <button id="save-button" data-dismiss="modal" class="btn btn-info" (click)="saveEdit(editID)">Save</button> </div>
    <button type="button" id="save-button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</form>
</ng-template>

<!-- Guest Update Data form Modal Ending -->