.nav-bar{
    background-color: #02007A;
    height: 140px;
    width: 100%;  
}
.nav-head{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 0;
    padding: 20px;
}
.nav-item{
    color: #ffffff;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.nav-item:hover{
    font-size: 25px;
    font-weight: 500;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}
.nav-item-one{
    font-family: "Red Hat Text";
    cursor: pointer;
    list-style: none;
    font-size: 45px;
    margin: 13px auto 0px 30px;
    border-bottom: 3px solid transparent;
}

.nav-item-active{
    color: #ffffff;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    list-style-position:inside;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

.container{
    display: flex;
    flex-direction: column;
    float: left;
    margin: 20px 0px 0px 40px;
}

.add-bar{
    display: flex;
    flex-direction: row;
    background-color:#eeeeee;
    color: #000000;
    width: 1550px;
    height: 75px;
    text-align: center;  
    margin-top: 30px; 
}

.head-name{
    margin: 7px 0px 0px 20px;
    font-size: 20px;
    font-weight: 600;
}

.add-icon{
    margin: 15px 0px 0px 1380px;
}
.head-cell{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 8px;
    padding: 30px 90px 30px 20px;
    border-bottom: 1px solid #d4d4d4;
}
.head-cell-active{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 30px 70px 30px 60px;
    border-bottom: 1px solid #d4d4d4;
}
.last-head-cell{
    border-top-style: none;
    width: 100%;
    font-size: 20px;
    text-align: right;
    font-weight: 500;
    //padding: 8px;
    padding: 30px 110px 30px 20px;
    border-bottom: 1px solid #d4d4d4;
}

.cell{
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    padding: 35px 40px 20px 30px;
    border-bottom: 1px solid #E5E4E4;

}
.cell-active{
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding: 35px 40px 20px 30px;
    border-bottom: 1px solid #E5E4E4;
}
.last-cell{
    text-align: center;
    padding: 35px 40px 20px 0px;
    border-bottom: 1px solid #E5E4E4;
    
}

#confirm-text{
    
    display: inline-block;
}
#confirm-button{
    float: right;
    margin: 20px;
}
.delete-body{
    padding-left: 200px;
    font-size: 25px;
}
.delete-body{
    padding-left: 200px;
    font-size: 25px;
}
#confirm-text{
    
    display: inline-block;
}
#confirm-button{
    float: right;
    margin: 20px;
}


#modal-add-buttons{
    left: 100px;
}

#modal-add-buttons:hover{
    background-color: #02007A;
}

#save-button{
    background-color: #fff;
    color: #000000;
    outline: #fff;
}

#save-button:hover{
    background-color: #02007A;
    color: #fff;
    outline: #02007A;
}

.form-group{
    padding: 20px 40px 10px 40px;
}
.form-content{
    display:block;
    clear:both;
    text-align: center;
}
.data{
    margin: 20px;
}
.btn-add{
    float: right;
}
.status-button{
    width: 120px;
    background-color: #00eb5a;
    color: #fff;
    outline: #00eb5a;
    border: #00eb5a;
}
.pagination-box{
    position: fixed;
    top: 850px;
    left: 1300px;
}
.edit-header{
    margin: 20px 0 0 20px;
    font-size: 25px;
    font-weight: bold;
}
.in {
    background-color: #00eb5a;
}

.out {
    background-color: rgb(255, 17, 17);
    
}

#select-id{
    width: 60px;
    height: 30px;
}