<div>
    <div class="nav-bar">
        <ul class="nav-head">
            <li class="nav-item-one">PRISM </li>
            <li class="nav-item-active"><a class="nav-link" routerLink="/reservation" >&nbsp;&nbsp;&nbsp;&nbsp;Reserve <br>&nbsp;&nbsp;&nbsp; List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/guest">Guest<br> List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/room">Manage<br> Room</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="add-bar">
            <div class="head-name">Reserve <br> List</div>
            <div  class="add-icon" data-toggle="modal" data-target="#exampleModalCenter">
                <button type="button" class="close" aria-label="Close" (click)="open(content)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></button>
            </div>       
        </div>
        <table class="table">
            <thead>
                <tr>
                <th class="head-cell">
                    Reserve No
                </th>
                <th class="head-cell">
                    Name
                </th>
                <th class="head-cell">
                    Room Id
                </th>
                <th class="head-cell">
                    Room Type
                </th>
                <th class="head-cell">
                    Arrival
                </th>
                <th class="head-cell">
                    Departure
                </th>
                <th class="head-cell">
                    Notes
                </th>
                <th class="head-cell">
                    Status
                </th>
                <th class="last-head-cell">
                    Action
                </th> 
             </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of dataList | paginate : {itemsPerPage:4, currentPage: page, totalItems: pageLength}">
                <td class="cell">
                    {{data.ReservationNo}}
                </td>
                <td class="cell">
                    {{data.GuestId}}
                </td>
                <td class="cell">
                    {{data.RoomId}}
                </td>
                <td class="cell">
                    {{data.RoomTypeId}}
                </td>
                <td class="cell">
                    {{data.ArrivalDate}}
                </td>
                <td class="cell">
                    {{data.DepartureDate}}
                </td> 
                <td class="cell">
                    {{data.Notes}}
                </td> 
                <td class="cell">
                    <button class="status-button"  (click)="statusCheck(check , deleteID)" [ngClass]="{'in' : toggle, 'out': !toggle}"> <span>{{toggle ? 'Check-In' : 'Check-Out'}}</span></button>
                </td>
                <td class="last-cell" style="font-size: 34px;">
                    <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true" (click)="openEdit(contentEdit, data)">&nbsp;</i>
                    <i class="fa fa-trash fa-fw" aria-hidden="true" (click)="openDelete(contentDelete , data.id)"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="page = $event" class="pagination-box"></pagination-controls>
        </div>
    </div>
</div> 

 <!-- Delete pop-up dialog box Starting -->

 <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Delete</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="delete-body">
            <div id="confirm-text" class="fa fa-trash fa-2x" aria-hidden="true"></div> &nbsp;&nbsp;
            <div id="confirm-text">Are you sure you want to delete<br/> this Reservation data ?</div>
        </div>
    </div>
    <div> 
        <button id="confirm-button" data-dismiss="modal" class="btn btn-danger" (click)="onDelete(deleteID)">Delete</button> &nbsp;
        <button id="confirm-button" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

  <!-- Delete pop-up dialog box Ending -->

  <!-- Check-Out pop-up dialog box Starting -->

  <ng-template #check let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirm Check In</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
        <div class="delete-body">
            <div id="confirm-text">Are you sure you want to Check In<br/> this Reservation?</div>
        </div>
    </div>
    <div> 
        <button id="confirm-button" data-dismiss="modal" class="btn btn-danger" (click)="onConfirm(deleteID)">Confirm</button> &nbsp;
        <button id="confirm-button" type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>

   <!-- Check-Out pop-up dialog box Ending -->

   <!-- New guest adding modal form Starting -->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Reservation</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form #f="ngForm"  [formGroup]="userForm" novalidate>
        <div class="form-group">
          <div class="form-content">
                <input id="Id" class="data" placeholder="Reservation No*" formControlName="ReservationNo" required>
                <br/>Guest Id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select formControlName="GuestId" class="form-select" id="select-id">
                  <option value="ID" selected="selected">ID</option>
                  <option *ngFor="let data of guestList" [ngValue] = "data.GuestId">
                  {{data.GuestId}}
                  </option>
                </select><br/>
                <!-- <input id="name" class="data" placeholder="Guest Id*" formControlName="GuestId" required> -->
                <input id="mob" class="data" placeholder="Room Id*" formControlName="RoomId" required>
                <input type="email" id="email" class="data" placeholder="Room Type Id*" formControlName="RoomTypeId" required>
                <input type="date" class="data" value="2021-07-28"  formControlName="ArrivalDate" >
                <input type="date" class="data" value="2021-07-28" formControlName="DepartureDate">
                <input id="nic" class="data" placeholder="Notes" formControlName="Notes" >

                <!-- <input id="active" class="data" placeholder="Active" formControlName="IsActive" > -->
          </div>
        </div>
        <div class="btn-add">
        <button type="submit" id="modal-add-buttons" class="btn btn-outline-dark" (click)="addItems()">Add</button>&nbsp;
        <button type="button" id="modal-add-buttons" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      
    </div>
  </ng-template>

  <!-- New guest adding modal form Ending -->

    <!-- Guest Update Data form Modal Starting -->

   <ng-template #contentEdit let-modal>
    <form [formGroup]="editForm" novalidate>
        <div class="edit-header"> Edit Reservation Details </div>
      <div class="form-group">
        <label for="Name">Reservation No</label>
        <div class="input-group">
          <input formControlName="ReservationNo" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="PhoneNo">Name</label>
        <div class="input-group">
          <input formControlName="GuestId" class="form-control" >
        </div>
      </div>
      <div class="form-group">
        <label for="Email">RoomId</label>
        <div class="input-group">
          <input formControlName="RoomId" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="IdNo">RoomTypeId</label>
        <div class="input-group">
          <input formControlName="RoomTypeId" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="DateOfBirth">ArrivalDate</label>
        <div class="input-group">
          <input formControlName="ArrivalDate" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="DateOfBirth">DepartureDate</label>
        <div class="input-group">
          <input formControlName="DepartureDate" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="DateOfBirth">Notes</label>
        <div class="input-group">
          <input formControlName="Notes" class="form-control">
        </div>
      </div>
        <div class="modal-footer">
      <div class="border text-center"> <button id="save-button" data-dismiss="modal" class="btn btn-info" (click)="saveEdit(editID)">Save</button> </div>
        <button type="button" id="save-button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
      </div>
    </form>
  </ng-template>
  
  <!-- Guest Update Data form Modal Ending -->